* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper #title {
    color: green;
    font-size: 96px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 24px;
}

#words-inputs .word-input {
    width: 70px;
    height: 70px;
    margin-right: 2px;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 550;
}

#words-inputs .word-input-container {
    text-align: center;
    margin-top: 16px;
}

#wrapper #keyboard-container {
    margin-top: 24px;
    padding: 16px;
    background-color: rgb(226, 226, 226);
    display: block;
    width: 610px;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#wrapper #enter-btn {
    background-color: rgb(141, 138, 138);
    color: white;
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    border-width: 0px;
}

#wrapper #enter-btn:hover {
    cursor: pointer;
    background-color: rgb(173, 172, 172);
}

#wrapper .keyboard-btn {
    background-color: rgb(141, 138, 138);
    color: white;
    display: inline-block;
    padding: 16px 22px;
    text-decoration: none;
    border-width: 0px;
}

#wrapper .keyboard-btn:hover {
    cursor: pointer;
    background-color: rgb(173, 172, 172);
}

.totally-correct-cell {
    background-color: green;
    color: white;
}

.wrong-position-cell {
    background-color: rgb(172, 172, 0);
    color: white;
}

.totally-wrong-cell {
    background-color: gray;
    color: white;
}